<header>
    <div class="header-top header-top-border pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col mt-10 mb-10">
                    <div class="header-links">      
                    </div>
                </div>
                <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                    <div class="header-account-links">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-one header-sticky" #headerSticky [class.is-sticky]="sticky">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-2 col-sm-8 col-8 mt-15 mb-15">
                    <div class="header-logo">
                        <a routerLink="/products">
                            FakeStore
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-4 order-lg-last">
                    <div class="header-shop-links float-end">                                 
                        <a href="#" class="header-cart" (click)="$event.preventDefault();cart.openCartlist();">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span class="number">{{cartCount}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6  order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                </div>
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>
            </div>
        </div>
    </div>
</header>


<app-wishlist #wishlist></app-wishlist>

<app-cart #cart></app-cart>